.header {
    background-color: #a08d77;
    position: absolute;
    height:160px;
    width:100%;
    display: block;
}
.footer {
    background-color: #a08d77;
    position:absolute;
    bottom:0;
    height:160px;
    width:100%;
    display: block;
}
.content {
    position: fixed;
    width:100%;
    top:160px;
    bottom:160px;
    margin-left: 200px; /* Same as the width of the sidebar */
    margin-top: 35px;
    display: block;
}
.sidebar {
    width: 160px;
    position: absolute;
    top: 168px;
    bottom: auto;
    background-color: #111;
    overflow-x: hidden;
    padding: 16px;
    margin: 0 0 16px 0;
    text-align: left;
    font-family: Calibri, serif;
}
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidebar a:hover {
    color: #a08d77;
}
.logo{
    position: relative;
    margin-top: 35px;
    height: 70px;
    width: 70px;
    left: 20px;
    bottom: 20px;
}
.topnav {
    background-color: #333;
    overflow: hidden;
    font-family: Calibri, serif;
}
.topnav a {
    position: relative;
    float: left;
    color: #a08d77;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.pict{
    max-width: 100%;
    box-shadow: black;
    border-radius: 20px;
}
.image {
    margin:  35px;
    width: 200px;
    height: 200px;
}
.picture-row {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.image:hover .pict{
    transform: scale(1.2);
}
.string-container{
    display: flex;
}
.string{
    font-family: Calibri, serif;
    margin-left: 320px;
    margin-right: 20px;
    font-size: 28px;
}
.text-column {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-left: 335px;
    font-family: Calibri, serif;
}
.text-block {
    margin-bottom: 8px;
    margin-left: 15px;
}
